In [5]:
import pandas as pd
import random

In [2]:
df_interactors = pd.read_csv("interactors_selected.csv")
df_variants = pd.read_csv("variants_streams.csv")
df_known = pd.read_csv("known_avatars.csv")

In [3]:
df_known.head()

        Interactor                                  Untitled Question
0  abz2011@nyu.edu               Dikshya Neupane, Taman Temirgaliyeva
1  moa2020@nyu.edu            Chinonyerem Ukaegbu, Morenikeji Adedayo
2   maj596@nyu.edu                                        Ronit Singh
3   ab9840@nyu.edu  Kundyz Muktar, Kripa Shrestha, Dixit Timilsina...
4   az1788@nyu.edu  Kundyz Muktar, Makhambet Aitpay, Taman Temirga...

In [4]:
df_known['no_friends'] = df_known['Untitled Question'].apply(lambda x: len(x.split(", ")))
df_known.sort_values(by=['no_friends'], ascending=False, inplace=True)
df_known.head()

,Interactor,Untitled Question,no_friends
7,ar7165@nyu.edu,"Youssef Azzam, Kundyz Muktar, Kripa Shrestha, ...",22
3,ab9840@nyu.edu,"Kundyz Muktar, Kripa Shrestha, Dixit Timilsina...",15
6,mr6179@nyu.edu,"Kripa Shrestha, Soojin Lee, Mandip Subedi, Nic...",14
20,mi2133@nyu.edu,"Kundyz Muktar, Dixit Timilsina, Mandip Subedi,...",14
69,ms12976@nyu.edu,"Kripa Shrestha, Dixit Timilsina, Mandip Subedi...",11

In [17]:
# variants = df_variants.variant_stream_name.to_list()
# random.choice(variants)
len(allocated)

156

In [21]:
allocated = []
dic_interactors_streams = {}
variants = df_variants.variant_stream_name.to_list()

for interactor in df_known.Interactor:
    allocated_to_interactor = []
    names_allocated_to_interactor = []
    while len(allocated_to_interactor) <= 3:
        # print(interactor, len(allocated_to_interactor))
        #1. pick 1 variant not allocated already
        available_variants = [v for v in variants if (v not in allocated or allocated.count(v) == 1)] #a variant has to be allocated twice
        variant = random.choice(available_variants)
        variant_name = df_variants[df_variants.variant_stream_name == variant].full_name.values[0]
        #2. chack # a) not known by interactor; # b) name different than allocated ones.
        if (variant_name not in df_known[df_known.Interactor == interactor]['Untitled Question'].values[0].split(", ")) and (variant_name not in names_allocated_to_interactor):
            allocated_to_interactor.append(variant)
            names_allocated_to_interactor.append(variant_name)
            allocated.append(variant)
        if len(allocated_to_interactor) == 4:
            dic_interactors_streams[interactor] = allocated_to_interactor
    # print(allocated_to_interactor, names_allocated_to_interactor)

In [28]:
pd.DataFrame(dic_interactors_streams).to_excel("allocation.xlsx")

In [24]:
len(allocated)

312

In [25]:
variant

'innocent_18'

In [27]:
pd.DataFrame(dic_interactors_streams)

,ar7165@nyu.edu,ab9840@nyu.edu,mr6179@nyu.edu,mi2133@nyu.edu,ms12976@nyu.edu,km5188@nyu.edu,am11646@nyu.edu,at5130@nyu.edu,ap5724@nyu.edu,ss13750@nyu.edu,...,sh7024@nyu.edu,bk1998@nyu.edu,sl7362@nyu.edu,mra467@nyu.edu,yvb207@nyu.edu,sr6546@nyu.edu,hu297@nyu.edu,ka2768@nyu.edu,sk7903@nyu.edu,chupa2@nyu.edu
0,credit_5,argon_25,lemonade_25,petalite_29,crate_22,glass_32,soul_31,cacao_32,bellusaurus_39,passenger_24,...,stealer_37,stealer_37,gojirasaurus_36,celery_23,blade_17,opportunity_25,atmosphere_28,fox_35,field_23,rhythm_30
1,turnip_22,baseball_24,elm_18,editor_8,jumper_24,baseball_35,lark_7,overcoat_25,observation_27,governor_30,...,crate_22,field_23,parsley_28,syzygy_29,ragamuffin_9,parsley_28,law_8,atmosphere_28,rhythm_30,laugh_37
2,prose_26,veterinarian_9,range_32,emperor_20,shrine_25,tie_22,baritone_20,hallway_39,front_26,wedelia_32,...,lark_7,step_22,anteater_40,marquess_5,edam_7,blackbird_36,plain_20,innocent_18,balloon_22,sandal_23
3,amaryllis_23,raven_30,soybean_21,raven_30,dolphin_17,citron_19,editor_8,archaeopteryx_21,script_9,tie_22,...,iguanadon_9,paste_28,edam_7,law_8,nose_36,antimatter_20,glass_32,wind_31,laugh_37,innocent_18